<div id="Partie1">
    <h2>Roulez l'esprit libre sans stress</h2>
    <div id="ImgPartie1"></div>
</div>
<div id="Partie2">
    <div class="Partie2Lot">
        <div class="IconText">
            <mat-icon>directions_car</mat-icon><span>Flotte haut de gamme</span>
            
        </div>
        <div class="Partie2Text">
            <span>Des cabriolets haut de gamme aux SUV premium</span>
        </div>

    </div>
    <div class="Partie2Lot">
        <div class="IconText">
            <mat-icon>spa</mat-icon><span>Service exceptionnel</span>
            
        </div>
        <div class="Partie2Text">
            <span>Service de location fiable,
                flexible et 100 % sécurisé</span>
        </div>

    </div>
</div>

<div id="Partie3">
    <div class="Partie3Lot">
        <div class="rectangle" id="Partie3Rectangle1"> <div class="Banderole"><span>Location Longue Durée</span></div> </div>
        <div class="rectangle" id="Partie3Rectangle2"> <div class="Banderole"><span>Louer une Lamborghini urus</span></div> </div>
    </div>
    
    <div class="Partie3Lot">
        <div class="rectangle" id="Partie3Rectangle3"> <div class="Banderole"><span>Camion de Déménagement</span></div> </div>
        <div class="rectangle" id="Partie3Rectangle4"> <div class="Banderole"><span>Car Rental+</span></div> </div>
    </div>
</div>

<!-- Partie 4 Nos flottes des vehicules -->
<div id="Partie4">

</div>
