<!-- decorartion par une voiture -->
<div id="Partie1">
    <h2>Roulez l'esprit libre sans stress</h2>
    <div id="ImgPartie1"></div>
</div>
<!-- Presentation de la location -->
<div id="Partie2">
    <div class="Partie2Lot">
        <div class="IconText">
            <mat-icon>directions_car</mat-icon><span>Flotte haut de gamme</span>
            
        </div>
        <div class="Partie2Text">
            <span>Des cabriolets haut de gamme aux SUV premium</span>
        </div>

    </div>
    <div class="Partie2Lot">
        <div class="IconText">
            <mat-icon>spa</mat-icon><span>Service exceptionnel</span>
            
        </div>
        <div class="Partie2Text">
            <span>Service de location fiable,
                flexible et 100 % sécurisé</span>
        </div>

    </div>
</div>
<!-- les promos, les offres, abonement -->
<div id="Partie3">
    <div class="Partie3Lot">
        <div class="rectangle" id="Partie3Rectangle1"> <div class="Banderole"><span>Location Longue Durée</span></div> </div>
        <div class="rectangle" id="Partie3Rectangle2"> <div class="Banderole"><span>Louer une Lamborghini urus</span></div> </div>
    </div>
    
    <div class="Partie3Lot">
        <div class="rectangle" id="Partie3Rectangle3"> <div class="Banderole"><span>Camion de Déménagement</span></div> </div>
        <div class="rectangle" id="Partie3Rectangle4"> <div class="Banderole"><span>Car Rental+</span></div> </div>
    </div>
</div>

<!-- Partie 4 Nos flottes des vehicules -->
<div id="Partie4">
 <h3>Nos Flottes</h3>
 <div id="Partie4Vehicules">
    <div class="Vehicules" id="ImgVehicule">
        <div class="BandeDuHaut"> <span style="margin-left: 20px;">Peugeot 208</span></div>

        <!-- infos pour le bandeau du bas du vehucule -->
        <div class="BandeDuBas">
            <div class="InfoGauche">
                <div class="TypeTransmissionReservoire"> <div id="Transmission"></div> <span>Transmission <br> Auto</span> </div>
                <div class="TypeTransmissionReservoire"><mat-icon>local_gas_station</mat-icon><span>Essence</span></div>
            </div>

            <div class="InfoDroite">
                <div class="InfosPlaceBagages"> <mat-icon>person</mat-icon><span>5</span></div>
                <div class="InfosPlaceBagages"> <mat-icon>luggage</mat-icon><span>5</span></div>
            </div>
        </div>
    </div>

    <div class="Vehicules" id="ImgVehicule2">
        <div class="BandeDuHaut"> 
            <span style="margin-left: 20px;">RENAULT R5 2025</span>
            <div class="Electrique" style="font-size: 16px;"><mat-icon>bolt</mat-icon><span>Electrique</span></div>
        </div>

        <!-- infos pour le bandeau du bas du vehucule -->
        <div class="BandeDuBas">
            <div class="InfoGauche">
                <!-- <div class="TypeTransmissionReservoire"> <div id="Transmission"></div> <span>Transmission <br> Auto</span> </div> -->
                <div class="TypeTransmissionReservoire"><mat-icon>battery_charging_full</mat-icon><span>Gamme ~250Km</span></div>
            </div>

            <div class="InfoDroite">
                <div class="InfosPlaceBagages"> <mat-icon>person</mat-icon><span>5</span></div>
                <div class="InfosPlaceBagages"> <mat-icon>luggage</mat-icon><span>3</span></div>
            </div>
        </div>
    </div>

 </div>
</div>
